body {
  background-color: #dce4ee;
  width: 450px;
  height: 550px;
  border-radius: 12px;
}

h1 {
  text-align: center;
  color: black;
}

.editable {
  resize: none;
  background-color: #ffff;
  color: black;
  font-size: 2.75vh;
  border: 0px solid;
  border-radius: 12px;
  padding: 0px 14px;
  text-align: justify;
  overflow-y: scroll;
}

.editable:empty:before {
  content: attr(placeholder);
  opacity: 0.5;
}

.editable::-webkit-scrollbar {
  width: 0 !important;
}

#input {
  height: 160px;
}

#output {
  text-align: center;
  font-size: large;
  background-color: #ffff;
  height: 80px;
  color: black;
  border: 0px solid;
  border-radius: 12px;
  padding: 10px;
  margin-bottom: auto;
}

.center:empty:before {
  content: attr(placeholder);
  opacity: 0.5;
}

.center::-webkit-scrollbar {
  width: 0 !important;
}

a {
  text-decoration: none;
  color: #16e16e;
}

a:hover {
  cursor: pointer;
}

p {
  margin: 4px 0px;
}
